<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whitejotter.Mapper.UserMapper">

    <select id="selectByName" parameterType="string" resultType="boolean">
        select count(*) from user where username = #{name}
    </select>

    <select id="selectByUserName" parameterType="string" resultType="com.whitejotter.entity.User">
        select id,username,password,salt from user where username = #{username}
    </select>

    <select id="selectByNameAndPassword"  resultType="boolean">
        select count(*) from user where username = #{name} and password = #{password}
    </select>

    <select id="selectSalt" parameterType="string" resultType="string">
        select salt from user where username = #{username}
    </select>

    <insert id="insertUser" parameterType="com.whitejotter.entity.User">
        insert into user(username,password,salt)
        value (#{username},#{password},#{salt})
    </insert>

    <update id="modifyPassword" parameterType="com.whitejotter.entity.User">
        update user
        set password=#{password} ,salt=#{salt}
        where username = #{username}
    </update>

    <select id="getUserInfo" parameterType="string" resultType="com.whitejotter.entity.UserInfo">
        select user_name,profilePicture,description,signature,gender,birthday,address,profession
        from user_info
        where user_name = #{username}
    </select>

    <update id="modifyUserInfo" parameterType="com.whitejotter.entity.UserInfo">
        update user_info
        <set>
            <if test="profilePicture!=null">profilePicture=#{profilePicture},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="signature!=null">signature=#{signature},</if>
            <if test="birthday!=null">signature=#{signature},</if>
            <if test="address!=null">address=#{address},</if>
            <if test="profession!=null">profession=#{profession},</if>
        </set>
        where user_name = #{username}
    </update>

    <insert id="insertUserInfo" parameterType="hashmap">
        insert into
        user_info(user_name,profilePicture,description,signature,gender,birthday,address,profession,phone)
        values (#{username},#{profilePicture},#{description},#{signature},#{gender},#{birthday},#{address},#{profession},#{phone})
    </insert>

    <select id="phoneIsExist" parameterType="long" resultType="boolean">
        select count(1) from user_info where phone = #{phone}
    </select>

    <select id="getUsernameByphone" parameterType="long" resultType="string">
        select user_name from user_info where phone = #{phone}
    </select>

</mapper>
